@import '~bootstrap/scss/bootstrap';
$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  align-items: center;
  background-color: $body-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  justify-content: center;
  min-height: calc(100% / 3);

  &:hover {
    background-color: $alt-color;
  }
}

.button {
  background-color: $alt-color;
  border: thick solid $body-bg-color;
  border-radius: 20px;
  color: $body-bg-color;
  opacity: .75;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.form-wrap {
  display: block;
  margin: 0 20%;
  text-align: center;
}

form {
  display: inline-block;
}

.game-area {
  margin: auto;
  max-height: 50vh;
  max-width: 50vh;
  width: 90%;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: $alt-color;
  margin: 15px;
}

header {
  background-color: $alt-color;
  border-radius: 15px;
  margin: auto;
  padding: 20px;

  > .message-board {
    color: $body-bg-color;
  }
}

input {
  border-radius: 5px;
  max-width: 160px;
}

.message-board {
  color: $alt-color;
  height: 25px;
  margin: 5px;
}

.message-board-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: center;
  margin-bottom: 10px;
}

.start-btn {
  background-color: $body-bg-color;
  border: thick solid $alt-color;
  border-radius: 35px;
  color: $alt-color;
  height: 70px;
  margin: 10px;
  width: 210px;
}
@media (max-width: 769px) {
  body {
    font-size: 1.5em;
  }

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-wrap {
    margin: 0 10%;
  }

  input {
    margin-bottom: .25em;
    min-width: 60%;
  }

  .message-board-wrap {
    height: 140px;
  }

}
