@import '~bootstrap/scss/bootstrap';

$alt-button: #e37222;
$alt-color: #66b9bf;
$body-bg-color: $gray-200;
$box-color: #eeaa7b;
$font-color: $light;
$heading-color: #07889b;

body {
  align-items: center;
  background-color: $body-bg-color;
  background-image: url('public/bckgrd.png');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
}

.box {
  align-items: center;
  background-color: $box-color;
  border: 1px solid $alt-color;
  border-radius: 7px;
  color: $font-color;
  display: flex;
  justify-content: center;
  min-height: calc(100% / 3);

  &:hover {
    background-color: $heading-color;
  }
}

.button {
  background-color: $alt-color;
  border: medium solid $body-bg-color;
  border-radius: 20px;
  color: $body-bg-color;
  opacity: .75;

  &:hover {
    border-color: $alt-button;
    color: $alt-button;
  }
}

.flexbox {
  display: flex;
  justify-content: center;
}

.form-wrap {
  display: block;
  margin: 0 20%;
  text-align: center;
}

form {
  display: inline-block;
}

.game-area {
  margin: auto;
  margin-bottom: 10px;
  max-height: 50vh;
  max-width: 50vh;
  width: 90%;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: $heading-color;
  margin: 15px;
}

header {
  background-color: $alt-color;
  border-radius: 15px;
  margin: auto;
  padding: 20px;

  > .message-board {
    color: $body-bg-color;
  }
}

input {
  border-radius: 5px;
  max-width: 160px;
}

.message-board {
  color: $alt-color;
  height: 25px;
  margin: 5px;
}

.message-board-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: center;
  margin-bottom: 10px;
}

p:hover {
  color: $heading-color;
}

.start-btn {
  background-color: $body-bg-color;
  border: medium solid $alt-color;
  border-radius: 35px;
  color: $alt-color;
  height: 70px;
  margin: 10px;
  width: 210px;
}

.undo-btn {
  background-color: $body-bg-color;
  border: medium solid $alt-color;
  color: $alt-color;
  margin: 10px;
}

@media (max-width: 991px) {
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-wrap {
    margin: 0 10%;
  }

  input {
    margin-bottom: .25em;
    min-width: 60%;
  }
}

@media (max-width: 769px) {
  body {
    font-size: 1.15em;
  }
}

@media (max-width: 415px) {
  body {
    font-size: 1.4em;
  }
}
